// Styling for the porthead
header.graphhead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 150px;
  
}

header.plashead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 100px;
  
}

header.texthead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 200px;
  
}

header.cosmhead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h4.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 150px;
  
}

header.ttrchead {
  text-align: center;
  color: black;
  background-image: url('../img/landing.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  
}

header.cardhead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h5.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 100px;
  
}

header.branhead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h6.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 100px;
  
}

header.digmhead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h7.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 150px;
  
}

header.hsechead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h8.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 100px;
  
}

header.hdiehead {
  text-align: center;
  color: black;
  background-image: url('../img/header/h9.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  
}


@media(min-width:768px) {
  header.porthead1 {
    text-align: left;
    .intro-text {
      padding-top: 150px;
      padding-bottom: 100px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 600;
        line-height: 75px;
        margin-bottom: 20px;
        @include heading-font;
      }
    }
  }
}
